.background {
  background-image: url('./../src/assets/background1.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top 3%;
  width: 100%;
  height: 100%;
}

@media (max-width: 940px) {
  .background {
    background-size: auto 100%;
    background-position: center 30%;
  }
}

option
{
  color: black;
}

.spinner {
  --size: 30px;
  --first-block-clr: #092038;
  --second-block-clr: #fed500;
  --clr: #111;
  width: 100px;
  height: 100px;
  position: relative;
 }
 
 .spinner::after,.spinner::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
  left: 50%;
  background: var(--first-block-clr);
 }
 
 .spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
 }
 
 @keyframes down {
  0%, 100% {
   transform: none;
  }
 
  25% {
   transform: translateX(100%);
  }
 
  50% {
   transform: translateX(100%) translateY(100%);
  }
 
  75% {
   transform: translateY(100%);
  }
 }
 
 @keyframes up {
  0%, 100% {
   transform: none;
  }
 
  25% {
   transform: translateX(-100%);
  }
 
  50% {
   transform: translateX(-100%) translateY(-100%);
  }
 
  75% {
   transform: translateY(-100%);
  }
 }
 
 .rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #ffc402;
  transition: color 0.3s;
}


